<div class="depot-detail-container">
  <h2>Liste des Dépôts</h2>
  <ul>
      <li *ngFor="let depot of depots" (click)="showDepotDetails(depot)" class="clickable">
          <span>{{ depot.proprietaire }} - {{ depot.date_transaction }} - {{ depot.prix_total }}€</span>
      </li>
  </ul>

  <h2>Créer un Nouveau Dépôt</h2>
  <form [formGroup]="depotForm" (ngSubmit)="saveDepot()">
      <div>
          <label for="proprietaire">Vendeur :</label>
          <select id="proprietaire" formControlName="proprietaire">
              <option *ngFor="let vendeur of vendeurs" [value]="vendeur.id">{{ vendeur.name }}</option>
          </select>
      </div>

      <h3>Ajouter des Jeux</h3>
      <div [formGroup]="jeuForm">
          <label>Type de Jeu :</label>
          <select formControlName="typeJeuId">
            <option [ngValue]="null" disabled selected>-- Select a type de jeu --</option>
            <option *ngFor="let typeJeu of typeJeux" [ngValue]="typeJeu.id">
              {{ typeJeu.name }}
            </option>
          </select>
          
          
          <label>Prix :</label>
          <input type="number" formControlName="prix" />
          
          <label>Quantité :</label>
          <input type="number" formControlName="quantite" />
          
          <label>Catégories :</label>
          <select multiple formControlName="categories">
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          
          <button type="button" (click)="addJeuToDepot(jeuForm.value)">Ajouter</button>
      </div>

      <h3>Jeux Ajoutés</h3>
      <ul>
          <li *ngFor="let jeu of newJeux; let i = index">
              {{ getTypeJeuName(jeu.typeJeuId) }} - {{ jeu.prix }}€ x {{ jeu.quantite }}
              <br>
              Catégories: {{ getCategoriesNames(jeu.categories) }}
              <button type="button" (click)="removeJeu(i)">Supprimer</button>
          </li>
      </ul>

      <h3>Total Prix: {{ totalPrix || 0 }}€</h3>

      <button type="submit">Créer Dépôt</button>
  </form>
</div>