<div class="depot-detail-container">

    <!-- Liste des depots -->
    <div class="depots-list">
      <h2>Liste des Depots</h2>
      <ul>
        <li *ngFor="let depot of depots">
          <span>{{ depot.id }} {{ depot.proprietaire }}</span>
          <button class="btn details-btn" (click)="selectDepot(depot); showDetails = true;">
            Afficher les Détails
          </button>
        </li>
      </ul>
    </div>

  <!-- Formulaire pour créer un dépôt -->
  <form [formGroup]="depotForm" (ngSubmit)="saveDepot()" class="depot-form">
    <h2>Créer un nouveau dépôt </h2>

    <div>
      <label for="proprietaire">Vendeur :</label>
      <select id="proprietaire" formControlName="proprietaire">
        <option *ngFor="let vendeur of vendeurs" [value]="vendeur">
          {{ vendeur }}
        </option>
      </select>
    </div>

    <div>
      <label for="date_transaction">Date de la transaction :</label>
      <input id="date_transaction" formControlName="date_transaction" type="date" />
    </div>

    <div>
      <label for="remise">Remise :</label>
      <input id="remise" formControlName="remise" type="number" />
    </div>

    <div>
      <label for="prix_total">Prix total :</label>
      <input id="prix_total" formControlName="prix_total" type="number" />
    </div>

    <div>
      <label for="frais">Frais :</label>
      <input id="frais" formControlName="frais" type="number" />
    </div>

    <div>
      <label for="jeux">Jeux (IDs séparés par des virgules) :</label>
      <input id="jeux" formControlName="jeux" type="text" (change)="updateJeux($event)" />
    </div>

    <div class="form-buttons">
      <button type="submit">
         Créer
      </button>
      <button type="button" (click)="clearSelection()">Annuler</button>
    </div>
  </form>

  <!-- Formulaire de détails d'un dépôt -->

    <div class="acheteur-form" *ngIf="showDetails"> 
      <h2>Détails du dépot</h2>
  
      <form [formGroup]="depotForm" (ngSubmit)="modifyDepot()">
  
        <div class="form-group">
          <label for="prenom">Vendeur</label>
          <select id="proprietaire" formControlName="proprietaire" >
          <option *ngFor="let vendeur of vendeurs" [value]="vendeur[1]">
            {{ vendeur[0] }}
          </option>
        </select>
        </div>
  
        <div class="form-group">
          <label for="email">date transaction</label>
          <input id="email" formControlName="date_transaction" type="date" />
        </div>
  
        <div class="form-group">
          <label for="adresse">Remise</label>
          <input id="adresse" formControlName="remise" type="number" />
        </div>

        <div class="form-group">
          <label for="adresse">Prix total</label>
          <input id="adresse" formControlName="prix_total" type="number" />
        </div>
  
        <div class="form-group">
          <label for="adresse">Frais</label>
          <input id="adresse" formControlName="frais" type="number" />
        </div>

        <div class="form-group">
          <label for="adresse">Jeux</label>
          <input id="jeux" formControlName="jeux" type="text" (change)="updateJeux($event)" />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn save-btn">Enregistrer</button>
          <button type="button" class="btn close-btn" (click)="showDetails = false;">Fermer</button>
        </div>
      </form>
    </div>
</div>
