.body{
    background-image: url("/assets/stock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
    flex-direction: column;
    align-items: center;
}