.body{
    background-color: #f4dce8;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    margin-top: 50px;
    color : #509031d4;
}