/* Conteneur principal */

.body {
    background-color : #f4dce8;
    height: 100vh;
    display : flex;
    flex-direction: center;
    align-content : center;
}
.login {
    background-color:#509031d4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(97, 91, 91, 0.096);
    border: 2px solid #2f2b28;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

/* Titre */
h1 {
    font-size: 24px;
    color: #f4dce8;
    margin-bottom: 20px;
}

/* Groupes de champs de formulaire */
.form-group {
    margin-bottom: 20px;
}

/* Champs de saisie */
.input-field {
    width: 100%;
    margin-bottom: 15px;
}

/* Erreur message */
.error {
    color: #d75630;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Boutons */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button {
    background-color:rgb(215, 239, 219);
    color: white;
}

.submit-button {
    background-color: #509031;
    color: white;
}

button[disabled] {
    background-color: #bdc3c7;
}

/* Améliorations pour les boutons */
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.9;
}

/* Animation de focus pour les champs */
mat-form-field input:focus {
    border-color:rgba(212, 248, 215, 0.623);
}
