<div class="body">
<div class="login">
    <h1>Connexion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Pseudo :</mat-label>
                <input matInput id="pseudo" formControlName="pseudo" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Mot de passe :</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" id="mot_de_passe" formControlName="mot_de_passe"/>
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <!-- Error message -->
        <div *ngIf="errorMessage" class="error">
            <p>{{errorMessage}}</p>
        </div>

        <!-- Buttons -->
        <div class="button-group">
            <button mat-raised-button type="button" (click)="goBack()" class="back-button">Retour</button>
            <button mat-raised-button type="submit" [disabled]="loginForm.invalid" class="submit-button">Connexion</button>
        </div>
    </form>
</div>
</div>
