<p>gestionnaire works!</p>

<button (click)='redirectdepot()'>Faire un depot</button>
<button (click)='redirectLVendeurs()'>Liste des vendeurs</button>
<button (click)='redirectListAch()'>Liste des acheteurs</button>
<button (click)='redirectStock()'>Stock</button>
<button (click)='redirectVentes()'>Faire une vente</button>
<button (click)='redirectTransactions()'>Affichers historique transactions</button>
<button (click)='redirectBilan()'>Bilan</button>
<button (click)='redirectAcceuil()'>Retour acceuil</button>