
<div class="page">
<button class="depot"(click)='redirectdepot()'>Faire un depot</button>
<button class="vend" (click)='redirectLVendeurs()'>Liste des vendeurs</button>
<button  class="listach" (click)='redirectListAch()'>Liste des acheteurs</button>
<button  class="stock" (click)='redirectStock()'>Stock</button>
<button  class="ventes" (click)='redirectVentes()'>Faire une vente</button>
<button  class="trans" (click)='redirectTransactions()'>Affichers historique transactions</button>
<button  class="bil" (click)='redirectBilan()'>Bilan</button>
<button  class="ac" (click)='redirectAcceuil()'>Retour acceuil</button>
<button  class="dec" (click)='deconnexion()'>Deconnexion</button>
</div>